/*

!.gitignore
!packages.txt
!scripts/

!.config/
!.config/starship.toml
.config/*
!.config/niri/
!.config/qt6ct/
!.config/qt5ct/
!.config/fish/
!.config/gtk-3.0/
!.config/gtk-4.0/
!.config/waybar/
!.config/nvim/
!.config/ghostty/
!.config/mako/
!.config/git/
!.config/zathura/
